.about-container{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 40px 0;
    background-color: #e8e8e8;
    
}
/* .sub-container{
    flex: 2;
    min-width: 350px;
    /* left:20px;
    text-align:left; 
} */
.sub-container {
    margin-right: 50px;
    width:400px;
    margin-top: -20px;
}

.sub-container p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
   
   
}
hr{
    margin-top: -2px;
    color: #e8e8e8;

}
/* p{
    display: contents;
    left: 10px;
    text-align: left;
} */
.grids{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    flex: 1;
    width: 200px;
    
}
.sub-container{
    padding: 20px;
}
 h1{
    font-weight: 900;

}
.sub-grid p{
    color: #54595F;
    text-align: center;
    font: 17px "Open Sans", sans-serif;
    margin: 5px 0px 0px;
    
}

@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
    }
    .grids {
        grid-template-columns: 1fr 1fr;
    }
}