.hero-container{
    position:relative;
    width: 100%;
    max-width: 100vw;

}
.hero-img{
    width: 100%;
    display: block;
}

.hero-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-90%, -90%);
    
}

.hero-content h2{
    margin-bottom: 20px;
    font-size: 2.525rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style: inherit;
    
}

.hero-content button{
    font-size: 2rem;
    border: none;
    background-color: red;
    color: #fff;
}
