.hero-container{
    position:relative;
    width: 100%;
    max-width: 100vw;

}
.hero-img{
    width: 100%;
    display: block;
}

.hero-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-90%, -90%);
    
}

.hero-content h2{
    margin-bottom: 20px;
    font-size: 2.525rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style: inherit;
    
}

.hero-content button{
    font-size: 2rem;
    border: none;
    background-color: red;
    color: #fff;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    opacity: 5;
    background: none;
    color: #111010;
    border: none;
    font-size: 5rem
}
.left-arrow{
    left: 30px;
}
.right-arrow{
    right: -60px;
}
.carousel-icon{
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
}